/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* set up the body */
body {
    line-height: 1.5;
    min-height: 100dvh;
    font-size: 15px;
    overflow-x: hidden;
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Variables           */
/* ------------------- */

:root{
    
    /* color variables */
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);

    /* fonts  */
    --ff-main:'Josefin Sans', sans-serif;
    --ff-secondary: 'Alata', sans-serif;
}

/* ------------------- */
/* UTILITY         */
/* ------------------- */

.uppercase{
    text-transform: uppercase;
}

/* ------------------- */
/* Header/hero         */
/* ------------------- */

.header-wrapper{
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;

}
header{ 
 position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
z-index: -2;
transform-style: preserve-3d;
  
}

.hero-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    transform: translateZ(-20px) scale(4);
    padding: 0;
    margin: 0;
    
    
}


.container{
    height: 100%;
    margin-top: 5rem;
    transform: translateZ(-5px) scale(1.5);
    z-index: -1;

}

.main-navbar{
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    
}

.header-ul {
    color: var(--White);
    display: flex;
    font-family: var(--ff-secondary);
    gap: 1rem;
    align-items: center;
}

.hero{
    border: 2px solid var(--White);
    color: var(--White);
    font-family: var(--ff-main);
    font-size: 3rem;
    width: 60%;
    margin-top: 7rem;
   
    
}

.about{
   border: 1px solid black;
}